[Desktop Entry]
Name=Calendario
Comment=Calendar with notes and Spanish holidays
Exec=calendario-es
Icon=${SNAP}/meta/gui/calendario.svg
Type=Application
Categories=Office;Calendar;
StartupNotify=true
